<div class="text-center row header">
  <h2>Company Profile</h2>
</div>

<% if @company.processed? == false %>
  <span class="badge">Not proccessed yet</span>*<br><br>
  <%= link_to 'Process company', edit_company_path(@company), class: "btn btn-xs btn-default" %>
<% else %>
  <span class="badge">Processed</span>
<% end %>

<table id="companies-table" class="table table-striped">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Phone:</th>
      <th>Address:</th>
      <th>Shipping Address:</th>
    </tr>
  </thead>
  <tbody> 
    <tr>
      <td class="td-company-phone"><%= @company.name %></td>
      <td class="td-company-name"><%= @company.phone %></td>
      <td class="td-company-address"><%= @company.address %></td>
      <td class="td-shipping-address"><%= @company.ship_address %></td>
    </tr>
  </tbody>
</table>

<p>
  <b>*</b> A non-processed company is one that is not completely finished and was imported
  from Close.io which doesn't have all of the information. You can fill in this 
  information and then mark the company as processed.
</p>

<%= link_to 'All Companies', companies_path, class: "btn btn-default" %>
