<%= link_to :controller => "campaigns", :action => "sync" do %>
  <button class="btn btn-default">Sync</button>
<% end %>

<% if @campaigns %>

<h3>All Sales Leads</h3>
  <button id="unique_businesses" class="btn btn-default">Unique businesses</button>
  
  <%= will_paginate @coffeeshops, renderer: BootstrapPagination::Rails %>
  
  <table id="campaign-table" class="table table-striped">
    <thead>
      <tr>
        <th>Name:</th>
        <th>Channel:</th>
        <th>Type:</th>
        <th>Date</th>
        <th>Company</th>
      </tr>
    </thead>
    <tbody>
      <% @campaigns.each_with_index do |campaign| %> 
        <tr>
          <td class="td-campaign-names"><%= campaign.name %></td>
          <td class="td-campaign-channels"><%= campaign.channel %></td>
          <td class="td-campaign-types"><%= campaign.campaign_type %></td>
          <td class="td-campaign-dates"><%= campaign.campaign_date %></td>
          <td class="td-company-names"><%= campaign.company.try(:name) %></td>
          <td>
          <%= link_to campaign do %>
            <%= fa_icon "arrow-right" %>
          <% end %>
        </td>
        </tr>
      <% end %>
    </tbody>
  </table>
    
<% else %>
  <p>You don't have any leads yet!</p>
<% end %> 
