<button id="unique_employees" class="btn btn-default">Unique employees</button>

<div class="text-center row header">
  <h2>Company Info</h2>
</div>

<table id="campaign-table" class="table table-striped">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Channel:</th>
      <th>Type:</th>
      <th>Date</th>
      <th>Company</th>
      <th>Channel Details</th>
      <th>Customer Type</th>
      <th>Campaign Type Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="td-campaign-names"><%= @campaign.name %></td>
      <td class="td-campaign-channels"><%= @campaign.channel %></td>
      <td class="td-campaign-types"><%= @campaign.campaign_type %></td>
      <td class="td-campaign-dates"><%= @campaign.campaign_date %></td>
      <td class="td-company-names"><%= @campaign.company.try(:name) %></td>
      <td class="td-campaign-channel-details"><%= @campaign.channel_details %></td>
      <td class="td-campaign-customer-type"><%= @campaign.customer_type %></td>
      <td class="td-campaign-campaign-details"><%= @campaign.campaign_type_details %></td>
    </tr>
  </tbody>
</table>

<% if @employees %>

<div class="text-center row header">
  <h2>Company Employees</h2>
</div>

  <table id="employees-table" class="table table-striped">
    <thead>
      <tr>
        <th>Number:</th>
        <th>Title:</th>
        <th>Name:</th>
        <th>Email:</th>
      </tr>
    </thead>
    <tbody>
      <% @employees.each_with_index do |employee, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td class="td-employee-title"><%= employee.title %></td>
          <td class="td-employee-name"><%= employee.firstname %> <%= employee.lastname %></td>
          <td class="td-employee-email"><%= employee.email %></td>
        </tr>
      <% end %>
    </tbody>  
  </table>
<% else %>
<p>
  There are no employees registered with this company yet!
</p>
<% end %>